
<body>
    <div class="row">
        <div class="col-lg-6">
            <ul class="set">
                <li class="white b" (click)="playNote('B4')"></li>
                <li class="black as" (click)="playNote('A#4')"></li>
                <li class="white a" (click)="playNote('A4')"></li>
                <li class="black gs" (click)="playNote('G#4')"></li>
                <li class="white g" (click)="playNote('G4')"></li>
                <li class="black fs" (click)="playNote('F#4')"></li>
                <li class="white f" (click)="playNote('F4')"></li>
                <li class="white e" (click)="playNote('E4')"></li>
                <li class="black ds" (click)="playNote('D#4')"></li>
                <li class="white d" (click)="playNote('D4')"></li>
                <li class="black cs" (click)="playNote('C#4')"></li>
                <li class="white c" (click)="playNote('C4')"></li>
              </ul>
            <!-- <div class="list-group">
                <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
                <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
                <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
                <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
                <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
                <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
                <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
              </div> -->
              <!-- <audio controls>
                    <source src="../assets/sonidos/note2.wav"  type="">
              </audio> -->
        </div>
    </div>
    
    <!-- <ul class="set">
        <li class="white b"></li>
        <li class="black as"></li>
        <li class="white a"></li>
        <li class="black gs"></li>
        <li class="white g"></li>
        <li class="black fs"></li>
        <li class="white f"></li>
        <li class="white e"></li>
        <li class="black ds"></li>
        <li class="white d"></li>
        <li class="black cs"></li>
        <li class="white c"></li>
      </ul> -->
    
       

</body>
